@font-face {
  font-family: "Terminus";
  src: url("terminus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  font-family: "Terminus";
}

h1 {
  text-align: center;
}
img {
  margin: auto;
  width: 50%;
}
